.cop-dialog-overlay {
  @apply fixed inset-0 bg-black/50 data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0;
}

.cop-dialog-content-login {
  @apply fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-white shadow-lg w-[calc(100%-2rem)] max-w-[900px] max-h-[95vh] md:max-h-[600px] overflow-hidden
    transition duration-300 ease-out
    data-[state=open]:opacity-100
    data-[state=closed]:opacity-0
    md:w-full;
}
