.cop-base-input {
  @apply h-[50px] w-full bg-transparent pt-6 text-base text-gray-700 placeholder-gray-400 outline-none transition-colors duration-200 disabled:cursor-not-allowed disabled:opacity-50;
}
