@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .text-h1 {
    font-size: 3rem; /* 48px */
    font-weight: 700;
  }

  .text-h2 {
    font-size: 2rem; /* 32px */
    font-weight: 500;
  }

  .text-h3 {
    font-size: 1.25rem; /* 20px */
    font-weight: 700;
  }

  .text-paragraph {
    font-size: 0.875rem; /* 14px */
    font-weight: 400;
  }

  .text-button-md {
    font-size: 1rem; /* 16px */
    font-weight: 700;
  }

  .text-button-sm {
    font-size: 0.875rem; /* 14px */
    font-weight: 700;
  }
}
